body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Navigation Bar Styles */
nav {
  background-color: #007bff;
  padding: 10px 20px;
}

nav .logo img {
  height: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

/* About Section Styles */
.about-section {
  padding: 5px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;
}

/* Footer Styles */
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* For Mobile Devices */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

/* For Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 17px;
  }
}

/* For Larger Screens */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }
}
  